@page "/"

<nav>
    <button type="button">
        Новый проект
    </button>
    <button type="button">
        Экспорт в файл
    </button>
    <button type="button">
        Вывод в консоль
    </button>
</nav>
<main>
    @* Project tree *@
    <div class="slide-panel">

    </div>
    @* Canvas - Previewer *@
    <div style="flex-grow: 4;">

    </div>
    @* Properties panel *@
    <div class="slide-panel">

    </div>
</main>

@code {
    private Project Project { get; set; } = new();
    private HtmlElement? SelectedElement { get; set; } = null;
}