@page "/"

<nav>
    <div>
        <button type="button">
            Проект
        </button>
        <div>
            <button href="#">Новый</button>
            <button href="#">Открыть</button>
            <button href="#">Test</button>
            <button href="#">Сохранить</button>
            <button href="#">Сохранить как..</button>
        </div>
    </div>
</nav>