################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/Implementation/Avalonia-XPlat/Avalonia-XPlat
/Data/Implementation/Avalonia-XPlat/Avalonia-XPlat.Android
/Data/Implementation/Avalonia-XPlat/Avalonia-XPlat.Desktop
/Data/Implementation/Avalonia-XPlat/Avalonia-XPlat.iOS
