@page "/"

<nav>
    <div>
        Проект
        <button type="button">Новый</button>
        <button type="button">Открыть</button>
        <button type="button">Сохранить</button>
        <button type="button">Сохранить как </button>
    </div>
</nav>
<main>
    <div class="flex-grow-1 bg-secondary">
        Test - Тестик
    </div>
    <div style="flex-grow: 4;">
        Test - Тестик
    </div>
    <div class="flex-grow-1 bg-secondary">
        Test - Тестик
    </div>
</main>