@using Blazor_pwa.Models.Implementations
@using Blazor_pwa.Pages.Components
@page "/"

<Nav>
    <Button>Новый</Button>
    <Button>Экспорт</Button>
</Nav>
<Main>
    <div class="bg-secondary flex" style="max-width: 20%;">
        @* <ProjectTree Project="@project" /> *@
    </div>
    <div style="flex-grow: 4;">

    </div>
    <div class="bg-secondary p-2" style="max-width: 20%;">
        <TreeViewObject Header="@HtmlElementsInfo.GetHtmlElementNameByType(element.Type)" />
    </div>
</Main>

@code {
    Project project = new("Безымянный");
    DivElement element = new();

    void Test()
    {

    }
}