@page "/"

<nav>
    <button type="button">Проект</button>
    Test - Тестик
</nav>
<main class="main">
    <div class="flex-grow-1 bg-secondary">
        Test - Тестик
    </div>
    <div style="flex-grow: 4;">
        Test - Тестик
    </div>
    <div class="flex-grow-1 bg-secondary">
        Test - Тестик
    </div>
</main>