@page "/"

<Nav>
    <Dropdown Header="Проект">
        <Button>Новый</Button>
        <Button>Открыть</Button>
        <Button>Сохранить</Button>
        <Button>Сохранить как </Button>
    </Dropdown>
</Nav>
<Main>
    <div class="flex-grow-1 bg-secondary">
        Test - Тестик
    </div>
    <div style="flex-grow: 4;">
        Test - Тестик
    </div>
    <div class="flex-grow-1 bg-secondary">
        Test - Тестик
    </div>
</Main>