@using Blazor_pwa.Pages.Components
@page "/"

<Nav>
    <Button Content=" Новый" />
    <Button Content="Экспорт" />
</Nav>
<Main>
    <div class="bg-secondary flex" style="max-width: 20%;">
        <ProjectTree Project="@project" />
    </div>
    <div style="flex-grow: 4;">

    </div>
    <div class="bg-secondary" style="max-width: 20%;">
        <FlatButton Content=">" HoverStyle="transform: rotate(45deg) scale(0.75);" OnClick="Test" />
    </div>
</Main>

@code {
    Models.Implementations.Project project = new("Безымянный");

    void Test()
    {

    }
}