@using Blazor_pwa.Models.Implementations
@using Blazor_pwa.Pages.Components
@page "/"

<Nav>
    <Button>Новый</Button>
    <Button>Экспорт</Button>
</Nav>
<Main>
    <div class="bg-secondary flex" style="max-width: 20%;">
        <ProjectComponentsView Project="@project" />
    </div>
    <div style="flex-grow: 4;">
        <Button OnClick="LogProjectBuild" Class="filter-invert">Build in log</Button>
    </div>
    <div class="bg-secondary" style="max-width: 20%;">

    </div>
</Main>

@code {
    Project project = new("Безымянный");

    void LogProjectBuild()
    {
        Console.WriteLine(HtmlDocumentBuilder.BuildProject(project));
    }
}