:root {
    --color-primary-1: #9dcbe4;
    --color-primary-2: #f2cb9e;
    --color-secondary-1: #d5e4f4;
    --color-secondary-2: #fee7d2;
}

.color-bg-primary-1 {
    background: var(--color-primary-1)
}

.color-bg-primary-2 {
    background: var(--color-primary-2)
}

.color-bg-secondary-1 {
    background: var(--color-secondary-1)
}

.color-bg-secondary-2 {
    background: var(--color-secondary-2)
}