@namespace Blazor_pwa.Pages.Components

<style>
    .dropdown-menu {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: var(--color-light);
        border-radius: 4px;
        padding: 8px;
    }

    .dropdown-menu.shown {
        display: flex;
    }
</style>

<div class="dropdown">
    <button type="button" id="@FullID">@Header</button>
    <div class="dropdown-menu " aria-labelledby="@FullID">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public required string ID { get; set; }
    public string FullID => $"dropdown-{ID}";
}