@page "/"

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/app.css" rel="stylesheet" />
    <title>Ани-ни</title>
</head>

<body>
    <nav class="navbar p-2 border-1 border-bottom bg-secondary-1">
        <div class="w-auto">
            @* TODO: extra razor component - dropdown menu *@
        </div>
        <div class="w-auto">
            Создано
            <a class="text-black" href="https://github.com/nemonology">мной</a>
        </div>
    </nav>
</body>

</html>

@code
{
    private bool isProjectMenuVisible = false;
    private string projectMenuVisibilityValue => isProjectMenuVisible ? "" : "display: none;";
    // private

    void OnProjectMenuToggleButtonClick(MouseEventArgs e)
    {
        isProjectMenuVisible = true;

    }

    void OnProjectMenuMouseOut()
    {
        isProjectMenuVisible = false;
    }
}