@namespace WebAnimEdit.Pages.Components
@inherits BaseComponent

<div class="col w-100 h-100">
    <button OnClick="ReloadAnimation">Предосмотр</button>
    <div @key="Guid.NewGuid()" style="overflow: hidden;">
        @((MarkupString)_markupString)
    </div>
</div>


@code {
    private string _markupString = string.Empty;

    public void Preview(string markupString)
    {
        _markupString = markupString;
        StateHasChanged();
    }
}