@namespace Blazor_pwa.Pages.Components

<button type="button" class="@Class">
    @Content
</button>

@code {
    [Parameter]
    public string Content { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";
}