@namespace Blazor_pwa.Pages.Components
@inherits BaseButton

<button type="button"
    style="border-radius: 8px; padding: 8px; font-size: medium; border: 1px solid transparent; background-color: var(--color-light); cursor: pointer; @AddedStyle @Style"
    class="@Class" @onmouseenter="OnMouseEnter" @onmouseleave="OnMouseLeave" @onmousedown="OnMouseDown"
    @onmouseup="OnMouseUp" @onclick="@OnClick">
    @Content
</button>

@code {
    public Button()
    {
        hoverStyle = "border-color: var(--color-dark);";
        activeStyle = "background-color: var(--color-accent);";
    }
}