@namespace Blazor_pwa.Pages.Components

<style>
    .dropdown>ul.dropdown-menu>li.dropdown-item {
        display: flex;
        flex-direction: column;
    }

    .dropdown>ul.dropdown-menu>li.dropdown-item:hover,
    .dropdown>ul.dropdown-menu>li.dropdown-item:active {
        background-color: transparent;
    }
</style>

<div class="dropdown">
    <Button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">@Header</Button>
    <ul class="dropdown-menu">
        <li class="dropdown-item">@ChildContent</li>
    </ul>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}