@namespace Blazor_pwa.Pages.Components
@inherits BaseButton

<button type="button" style="cursor: pointer; border: none; background-color: transparent; @AddedStyle @Style"
    class="@Class" @onclick="@OnClick" @onmouseenter="OnMouseEnter" @onmouseleave="OnMouseLeave">
    @Content
</button>

@code {
    public FlatButton()
    {
        HoverStyle = "text-decoration: underline solid var(--color-dark) 1px;";
    }
}