@namespace Blazor_pwa.Pages.Components
@inherits ParentComponent

<div style="justify-content: space-between; @Style" class="flex gap-2 w-100 @Class">
    @beforeHeaderControls
    @Header
    @* Controls *@
    <div style="align-items: center;" class="flex gap-1">
        @* Delete button *@
        <FlatButton>
            <img src="~/Assets/Icons/Delete.svg" alt="Кнопка: удалить элемент списка">
        </FlatButton>
        @* Rename button - TODO: Add when element will be able to have a name/id in list*@
        @* <FlatButton Content="П" Class="p-0" /> *@
    </div>
    @* Child content *@
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Header { get; set; }
    [Parameter]
    public Action? OnDeleteClick { get; set; }

    protected RenderFragment? beforeHeaderControls;
    protected void OnDeleteClicked() => OnDeleteClick?.Invoke();
}