@namespace Blazor_pwa.Pages.Components
@inherits ParentComponent

<nav style="flex-grow: 1; display: flex; padding: 8px; background-color: var(--color-primary); gap: 8px; @Style"
    class="@Class">
    @ChildContent
</nav>