@page "/"

<!doctype html>
<html>
<body>
    <nav class="row align-items-center justify-content-between bg-secondary-1 m-0 px-2 py-1">
        <div class="w-auto">
            <label class="fw-bold">Проект:</label>
            <button type="button">Новый</button>
            <button type="button">Загрузить</button>
            <button type="button">Сохранить</button>
            <button type="button">Сохранить как</button>
        </div>
        <div class="w-auto">
            Сделано
        <a href="https://github.com/nemonology">мной</a>
        </div>
    </nav>

</body>
</html>
